#crew
  .row.section
    .jumbotron.center.white
      %h1 Poznaj zespół Reprocentrum!
      %p.lead Współpracujemy ze sobą od lat, dlatego jesteśmy w stanie ekspresowo wykonać każdą, nawet najtrudniejszą usługę. Nasze atuty to doskonała organizacja pracy i tworzenie niezwykle przyjaznej atmosfery.
    .row.center
      .col-md-12
        =image_tag 'crew/beata.jpg', width: '150px'
        %h4 BEATA
        %p Szefowa i założycielka Reprocentrum.
    .row.center
      .col-md-3
        .crew_image=image_tag 'crew/aga.jpg', width: '150px'
        %h4 AGA
        %p Specjalista od prac wymagających anielskiej cierpliwości.
      .col-md-3
        .crew_image=image_tag 'crew/damian.jpg', width: '150px'
        %h4 DAMIAN
        %p Mistrz programów graficznych.
      .col-md-3
        .crew_image=image_tag 'crew/ania.jpg', width: '150px'
        %h4 ANIA
        %p Wykończy każdą pracę, z marginesem lub bez.
      .col-md-3
        .crew_image=image_tag 'crew/rafal.jpg', width: '150px'
        %h4 RAFAŁ
        %p Wydrukuje wszystko, zanim zdążysz wysłać załącznik.
    .row.center
      %h4 JAREK
      %p Mistrz skanowania, który nie lubi być fotografowany
