.container
  .center=image_tag 'ewolucja.jpg'
  .jumbotron.center.white
    %h1 Dzięki zaangażowaniu stale się rozwijamy
    %p.lead Działamy na rynku już od 1998 roku. Jesteśmy wiodącą firmą branży reprograficznej w Trójmieście. Zaczynaliśmy kopiowanie od maszyn ozalidowych, a dziś drukujemy w technologii laserowej z wykorzystaniem najnowszych maszyn, z wydajnością sięgającą 7 wydruków A0 na minutę!
