#print
  .row.section
    .jumbotron.center.white
      %h1 Nie musisz zjawiać się u nas w biurze, abyśmy zrealizowali Twoje zlecenie
      %p.lead
        Abyśmy jak najlepiej zinterpretowali Twoje zamówienie, wyślij maila wraz z załącznikiem na
        %span=mail_to "repro@reprocentrum.com"
        trzymając się tego schematu:
      .row
        .col-md-6
          .well{ style: 'margin-top: 45px' }
            %br nazwa_pliku
            %br ilość sztuk
            %br rodzaj wydruku
            %br rodzaj składania
        .col-md-6
          %p.lead Przykład:
          .well
            %br mapa.jpg
            %br x2
            %br wydruk kolorowy na zwykłym papierze
            %br składanie do teczki
