#services-content
  .white
    %h2 Sterowniki do naszych urządzeń
    .service
      %ul
        %li= link_to 'STEROWNIK PLOTERA DLA AUTOCAD - pobierz i przegraj do menagera ploterów w programie AutoCad', 'http://www.reprocentrum.pl/gdansk/Reprocentrum.zip'
        %li= link_to 'TU POBIERZESZ STEROWNIK PLOTERA ODPOWIEDNI DLA TWOJEGO SYSTEMU OPERACYJNEGO', 'http://h20000.www2.hp.com/bizsupport/TechSupport/DriverDownload.jsp?prodNameId=12607&locale=en_US&taskId=135&prodTypeId=18972&prodSeriesId=24023'
        %li= link_to 'U ZNAJDZIESZ INSTRUKCJĘ JAK WYDRUKOWAĆ RYSUNEK DO PLIKU W AUTOCADZIE 2000, 2000LT I WYŻSZYCH', 'http://www.reprocentrum.pl/gdansk/druk_w_autocad2000.exe'
    = image_tag 'harddrive.jpg'


/       <div class="item_a">
/         <h2>Sterowniki do naszych urządzeń</h2>
/         <div class="h_line"></div>
/         <p style="float: left; width: 630px">
/             <br><a href="http://www.reprocentrum.pl/gdansk/Reprocentrum.zip">STEROWNIK PLOTERA DLA AUTOCAD - pobierz i przegraj do menagera ploterów w programie AutoCad</a>
/             <br><a href="http://h20000.www2.hp.com/bizsupport/TechSupport/DriverDownload.jsp?prodNameId=12607&locale=en_US&taskId=135&prodTypeId=18972&prodSeriesId=24023">TU POBIERZESZ STEROWNIK PLOTERA ODPOWIEDNI DLA TWOJEGO SYSTEMU OPERACYJNEGO</a>
/             <br><a href="http://www.reprocentrum.pl/gdansk/druk_w_autocad2000.exe">TU ZNAJDZIESZ INSTRUKCJĘ JAK WYDRUKOWAĆ RYSUNEK DO PLIKU W AUTOCADZIE 2000,
/ 2000LT I WYŻSZYCH</a>
/           </p>
/           <img src="../images/harddrive.jpg" style="height: 230px; float: right;">
/         </div>
/       </div>
/     </div>
