#services-content
  .white
    %h2 Sterowniki do naszych urządzeń
    .service
      %ul
        %li= link_to 'STEROWNIK PLOTERA DLA AUTOCAD - pobierz i przegraj do menagera ploterów w programie AutoCad', 'http://www.reprocentrum.pl/gdansk/Reprocentrum.zip'
        %li= link_to 'TU POBIERZESZ STEROWNIK PLOTERA ODPOWIEDNI DLA TWOJEGO SYSTEMU OPERACYJNEGO', 'http://h20000.www2.hp.com/bizsupport/TechSupport/DriverDownload.jsp?prodNameId=12607&locale=en_US&taskId=135&prodTypeId=18972&prodSeriesId=24023'
        %li= link_to 'U ZNAJDZIESZ INSTRUKCJĘ JAK WYDRUKOWAĆ RYSUNEK DO PLIKU W AUTOCADZIE 2000, 2000LT I WYŻSZYCH', 'http://www.reprocentrum.pl/gdansk/druk_w_autocad2000.exe'
    = image_tag 'harddrive.jpg'


