
#googleMap
.clearfix
#index
  .services
    .container
      .row
        .col-md-6
          .white.contact
            %h2 Adres i dojazd
            %ul.none
              %li ul. Trzy Lipy 2
              %li 80 - 127 Gdańsk
              %li kom +48 602 789 754
              %li tel. 58 340 35 75
            %p Brązowy budynek znajduje się przy rondzie za Carrefourem. Wjazd od podwórka na parking.
            %br Zapraszamy od poniedziałku do piątku w godzinach 8:30 - 17:00 .
        .col-md-6
          .grayed-out.contact
            %h2#form Szybki kontakt
            = render 'form'




