#services-content
  .white
    %h2 Adres i dojazd
    .service
      %ul
        %li ul. Trzy lipy 2
        %li 80 - 127 Gdańsk
        %li kom +48 602 408 880
        %li tel. 58 340 35 75
      %h2 Skontaktuj się z nami za pomocą formularza
      .service-col
      // tu będzie formularz kontaktowy, którego póki co nie chcę robić
    = image_tag 'cityoffice.jpg', alt: 'CityOffice'
    .mapa
